/*------- Extend ------*/
.fondo {
  background-image: url(../imagenes/imagenFondo.JPG);
  background-size: cover;
  margin-bottom: 10rem;
  height: 40rem; }

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

/* Estilos Generales */
body {
  height: 100%; }

.logo {
  height: 250px;
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 200px; }
  .logo:hover {
    transform: translateY(-5px);
    animation: moverlogo 1.5s infinite; }

@keyframes moverlogo {
  50% {
    transform: translateY(6px); } }

h1 {
  font-size: 40px;
  text-align: center;
  color: grey;
  margin-bottom: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif; }
  h1:hover {
    color: black; }

h2 {
  font-size: 35px;
  text-align: center;
  margin-bottom: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif; }

h3 {
  font-family: verdana; }

p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

ul li {
  list-style: none; }

a {
  text-decoration: none; }

.bg-rosa {
  color: #fcbfea; }

/* -----------------  Index   ------------ */
.marcoFoto {
  border: solid 1px gray;
  margin-bottom: 20px; }
  .marcoFoto div {
    box-shadow: 5px 5px 10px; }

.imgIndex {
  height: 20rem;
  width: 20rem;
  transition: all 0.8s; }
  .imgIndex:hover {
    transform: scale(1.1, 1.1);
    z-index: 100; }

/* -------------- Smartwatch -------------- */
.presentacion {
  display: flex;
  margin: 10px;
  gap: 30px; }
  .presentacion .presentacionVideo {
    width: 50%; }
  .presentacion .presentacionTexto {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
    font-size: 20px; }
  .presentacion button {
    color: black; }

.carusel-text {
  font-size: 20px;
  margin-top: 30px; }

.carousel {
  border: ridge 5px #fcbfea;
  width: 30%;
  margin-bottom: 30px; }
  .carousel img {
    height: 400px;
    width: 700px; }

.bg-rosa {
  background-color: #fcbfea; }

.card-group {
  margin-bottom: 5rem; }

/*----------  Auriculares -------- */
.auri-bajo {
  margin-bottom: 5rem; }

/* -------- Contacto ------ */
#formulario-contacto {
  margin-bottom: 30px; }

/* -------   Footer ----- */
.logoFooter {
  height: 60px;
  width: 60px;
  border-radius: 30px; }

/* ----  medias Query ----- */
@media only screen and (max-width: 599px) {
  .logo {
    height: 150px;
    width: 150px; }
  .presentacionTexto {
    display: none; }
  .presentacionVideo {
    width: 100%; } }

@media only screen and (min-width: 600px) {
  .boton-movil {
    display: none; }
  .auri {
    height: 20rem;
    width: 20rem; }
    .auri:hover {
      transform: rotatey(360deg);
      transition: 2s ease-in-out; }
  .sombra-auri {
    border: solid 1px grey;
    box-shadow: 5px 5px 10px; } }
