/*------- Extend ------*/
.fondo, .inicio {
  background-image: url(../imagenes/imagenFondo.JPG);
  background-size: cover;
  margin-bottom: 10rem;
  height: 40rem; }

/* Estilos Generales */
body {
  height: 100%; }

.logo {
  height: 250px;
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 200px; }
  .logo:hover {
    transform: translateY(-5px);
    animation: moverlogo 1.5s infinite; }

@keyframes moverlogo {
  50% {
    transform: translateY(6px); } }

h1 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif; }
  h1:hover {
    color: black; }

h2 {
  font-size: 35px;
  text-align: center;
  margin-bottom: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif; }

h3 {
  font-family: verdana; }

p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

ul li {
  list-style: none; }

a {
  text-decoration: none; }

/* -----------------  Index   ------------ */
.marcoFoto {
  border: solid 1px gray;
  margin-bottom: 20px; }

.imgIndex {
  height: 20rem;
  width: 20rem;
  transition: all 0.8s; }
  .imgIndex:hover {
    transform: scale(1.1, 1.1);
    z-index: 100; }

/*---------------- Precios -------------*/
/* -------   Footer ----- */
.logoFooter {
  height: 60px;
  width: 60px;
  border-radius: 30px; }

/* ----  medias Query ----- */
@media only screen and (max-width: 599px) {
  .logo {
    height: 150px;
    width: 150px; }
  .inicio img {
    display: none; } }

@media only screen and (max-width: 799px) {
  .inicio img {
    display: none; } }
