/* -----------------  Index   ------------ */

.fondo{

    @extend %imagenInicio

}

.marcoFoto{
    border: solid 1px gray;
    margin-bottom: 20px;
    div{
        box-shadow: 5px 5px 10px;
    }
}

.imgIndex{
    height: 20rem;
    width: 20rem;
    transition: all 0.8s;
    

    &:hover{
    transform: scale(1.1,1.1);
    z-index: 100;
    }
}