/* -----------------  Index   ------------ */

.inicio{

    @extend %imagenInicio

}

.inicio img{
    display: flex;
    height: 30rem;
    width: 80rem;    
 }

.marcoFoto{
    border: solid 1px gray;
    margin-bottom: 20px;
}

.imgIndex{
    height: 20rem;
    width: 20rem;
    transition: all 0.8s;

    &:hover{
    transform: scale(1.1,1.1);
    z-index: 100;
    }
}