/* ----  medias Query ----- */

@include mediaQuery (mobile){
    .logo{
        height: 150px;
        width: 150px;
    }
 
    .presentacionTexto{
        display: none;
     }
  
     .presentacionVideo{
        width: 100%;
     }

}

@include mediaQuery (desktop){
    .boton-movil{
        display: none;
    } 

     .auri{
      height: 20rem;
      width: 20rem;
      &:hover{
        transform: rotatey(360deg);
        transition: 2s ease-in-out;
      }
   }
   .sombra-auri{
    border: solid 1px grey;
    box-shadow: 5px 5px 10px;
 }
}