$bgBotones: rgb(252,191,234);

/*------- Extend ------*/

%imagenInicio {
    display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 20px;
}

@mixin mediaQuery ($medidaPantalla) {

    @if $medidaPantalla == mobile {
        @media only screen and (max-width:599px){
            @content;
        }

    }@else {
        @media only screen and (max-width:799px){
            @content;
        }
    }

};

