

/*------- Extend ------*/

%imagenInicio {
    background-image: url(../imagenes/imagenFondo.JPG);
    background-size: cover;
    margin-bottom: 10rem;
    height: 40rem;
}

@mixin mediaQuery ($medidaPantalla) {

    @if $medidaPantalla == mobile {
        @media only screen and (max-width:599px){
            @content;
        }

    }@else {
        @media only screen and (max-width:799px){
            @content;
        }
    }

};

$colores: (
  botones:  rgb(252,191,234),
  primario: rgb(153, 150, 150),
  hover-primario: lighten(rgb(73, 73, 73), 20),
  hover-secundario: darken(rgb(0, 0, 0), 50),
)