

/*------- Extend ------*/

%imagenInicio {
    display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 20px;
}

@mixin mediaQuery ($medidaPantalla) {

    @if $medidaPantalla == mobile {
        @media only screen and (max-width:599px){
            @content;
        }

    }@else {
        @media only screen and (max-width:799px){
            @content;
        }
    }

};

$colores: (
  botones:  rgb(252,191,234),
  primario: rgb(153, 150, 150),
  hover-primario: lighten(rgb(109, 108, 108), 20),
  hover-secundario: darken(blue, 50),
)